<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="checkUsage" value="4" />
        <option name="maxMeetContext" value="80" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>