<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="checkUsage" value="3" />
        <option name="generatedCount" value="1656552702687" />
        <option name="lastD1" value="1660526201217" />
        <option name="lastD2" value="1660526201218" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>